header { 
   width: 100%;
}

.gnb_m {
   display: none;
}

.gnb {
   width: 100%;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top: 0;
   left: 0;
   z-index: 10000;
}

.gnb_menu {
   max-width: 100%;
   max-width: 1000px;
   height: 44px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.gnb_menu li {
   height: 100%;
}


.gnb_menu li a { 
   padding: 0 10px;
}

.gnb_logo a {
   display: block;
   width: 36px;
   height: 44px;
   background-image: url(../img/globalnav_apple.svg);
   background-repeat: no-repeat;
   background-position: center center;
}

.gnb_mac a {
   display: block;
   width: 46px;
   height: 44px;
   background-image: url(../img/globalnav_links_mac.svg);
   background-repeat: no-repeat;
   background-size: 26px 44px;
   background-position: center center;
}

.gnb_ipad a {
   display: block;
   width: 47px;
   height: 44px;
   background-image: url(../img/globalnav_links_ipad.svg);
   background-repeat: no-repeat;
   background-size: 27px 44px;
   background-position: center center;
   max-width: 45.9px;
}

.gnb_iphone a {
   display: block;
   width: 64px;
   height: 44px;
   background-image: url(../img/globalnav_links_iphone.svg);
   background-repeat: no-repeat;
   background-size: 44px 44px;
   background-position: center center;
   max-width: 74.8px;
}

.gnb_watch a {
   display: block;
   width: 60px;
   height: 44px;
   background-image: url(../img/globalnav_links_watch.svg);
   background-repeat: no-repeat;
   background-size: 40px 44px;
   background-position: center center;
   max-width:68px;
}

.gnb_music a {
   display: block;
   width: 57px;
   height: 44px;
   background-image: url(../img/globalnav_links_music.svg);
   background-repeat: no-repeat;
   background-size: 37px 44px;
   background-position: center center;
   max-width:62.9px;
}

.gnb_support a {
   display: block;
   width: 65px;
   height: 44px;
   background-image: url(../img/globalnav_links_support.svg);
   background-repeat: no-repeat;
   background-size: 45px 44px;
   background-position: center center;
   max-width:76.5px;
}

.gnb_search a {
   display: block;
   width: 38px;
   height: 44px;
   background-image: url(../img/globalnav_search.svg);
   background-repeat: no-repeat;
   background-position: 10px 0;
   background-size: 18px 88px;
}

.gnb_store a {
   display: block;
   width: 37px;
   height: 44px;
   background-image: url(../img/globalnav_bag.svg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: 17px 44px;
}


@media screen and (max-width: 1068px) {
   .gnb {
      padding: 0 22px;
   }

}

@media screen and (max-width: 767px) {
   .gnb {
      display: none;
   }

   .gnb_m {
      display: block;
      width: 100%;
      background-color: rgba(0,0,0,0.8);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10000;
   }
   .gnb_m_menu {
      max-width: 100%;
      max-width: 1000px;
      height: 48px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   .gnb_m_menu .gnb_hidden_menu {
      width: 48px;
      height: 48px;
   }

   .gnb_m_menu .gnb_logo a {
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(../img/globalnav_apple.svg);
      background-repeat: no-repeat;
      background-size: 48px 48px;
      background-position: center center;
   }
   
   .gnb_m_menu .gnb_store a {
      display: block;
      width: 48px;
      height: 48px;
      background-image: url(../img/globalnav_bag.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 17px 48px;
   }


}