/* Banner CSS */

.banner_wrap {
   width: 100%;
   height: 46px;
   margin: 44px 0 0 0;
}

.banner_text {
   text-align: center;
   padding: 12px 0;
}

.banner_text a {
   color: rgb(0,102,204);
}

.banner_text a:hover {
   text-decoration: underline;
}

/* Hero CSS */

/* Hero 1 iPhone 12 */

.hero_1_wrap {
   width: 100%;
   height: 692px;
   background-color: rgb(251,251,253);
   text-align: center;
   padding: 55px 0 0 0;
   background-image: url(../img/hero_iphone12.jpg);
   background-size: auto;
   background-position: center bottom;
   background-repeat: no-repeat;
}

.hero_subline_black {
   margin: 6px 0 0 0;
}

.hero_price_info {
   color: rgb(134,134,139);
   margin: 13.6px 0 0 0;
   font-size: 17px;
}

.hero_links_light {
   margin: 13.65px 0 0 0;
}

.hero_links_light a {
   font-size: 21px;
   line-height: 32px;
   color: rgb(0,102,204);
   margin: 0 16px;
   letter-spacing: 0.2px;
}

.hero_2_wrap {
   width: 100%;
   height: 692px;
   background-color: rgb(0,0,0);
   text-align: center;
   padding: 55px 0 0 0;
   margin: 12px 0 0 0;
   background-image: url(../img/hero_iphone12_pro.jpg);
   background-size: auto;
   background-position: center bottom;
   background-repeat: no-repeat;
}

.hero_headline_white {
   color: rgb(245,245,247);
}

.hero_subline_white {
   margin: 6px 0 0 0;
   color: rgb(245,245,247);
}

.hero_links_dark {
   margin: 13.65px 0 0 0;
}

.hero_links_dark a {
   font-size: 21px;
   line-height: 32px;
   color: rgb(41,151,255);
   margin: 0 16px;
   letter-spacing: 0.2px;
}

.hero_3_wrap {
   width: 100%;
   height: 692px;
   background-color: rgb(251,251,253);
   text-align: center;
   padding: 55px 0 0 0;
   margin: 12px 0 0 0;
   background-image: url(../img/hero_ipad_air.jpg);
   background-size: auto;
   background-position: center bottom;
   background-repeat: no-repeat;
}

/* Section Promotion */

.promo_wrap {
   width: 100%;
   height: auto;
}

.promo {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   padding: 6px;
}

.promo_eyebrow {
   color: rgb(245,245,247);
   font-size: 17px;
   line-height: 23px;
   font-weight: 600;
}

.promo_headline_white {
   color: rgb(245,245,247);
   margin: 2px 0 0 0;
   font-size: 40px;
   line-height: 44px;
   font-weight: 600;
}

.promo_headline_black {
   color: rgb(29,29,31);
   font-size: 40px;
   line-height: 44px;
   font-weight: 600;
}

.promo_subline_white {
   color: rgb(245,245,247);
   font-size: 21px;
   line-height: 26px;
   margin: 11px 0 0 0;
}

.promo_subline_black {
   color: rgb(29,29,31);
   font-size: 21px;
   line-height: 26px;
   margin: 4px 0 0 0;
}

.promo_links_dark {
   margin: 11.9px 0 0 0;
}

.promo_links_dark a {
   color: rgb(41,151,255);
   font-size: 17px;
   line-height: 23px;
   margin: 0 14px;
}

.promo_links_light {
   margin: 11.9px 0 0 0;
}

.promo_links_light a {
   color: rgb(0,102,204);
   font-size: 17px;
   line-height: 23px;
   margin: 0 14px;
}

/* Promotion 1 */

.promo_1 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 6px;
   padding: 40px 0 0 0;
   background-color: rgb(0,0,0);
   text-align: center;
   background-image: url(../img/promo_watch_1.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
}

.promo_1 img {
   height: 50px;
   vertical-align: middle;
}

/* Promotion 2 */

.promo_2 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 6px;
   padding: 57px 0 0 0;
   background-color: rgb(0,0,0);
   text-align: center;
   background-image: url(../img/promo_watch_2.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
}

.promo_2 img {
   height: 57px;
   vertical-align: middle;
}

/* Promotion 3 */

.promo_3 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 6px;
   padding: 29px 0 0 0;
   background-color: rgb(0,0,0);
   text-align: center;
   background-image: url(../img/promo_macbook_1.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
}

.promo_3 .promo_subline_white {
   margin: 4px 0 0 0;
}

/* Promotion 4 */

.promo_4 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 6px;
   padding: 51px 0 0 0;
   background-color: rgb(0,0,0);
   text-align: center;
   background-image: url(../img/promo_macbook_2.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
}

.promo_4 .promo_subline_white {
   margin: 4px 0 0 0;
}

/* Promotion 5 */

.promo_5 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 6px;
   padding: 54px 0 0 0;
   background-color: rgb(245,245,247);
   text-align: center;
   background-image: url(../img/apple.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
}

/* Promotion 6 */

.promo_6 {
   width: calc(50% - 12px);
   height: 580px;
   margin: 6px;
   padding: 54px 0 0 0;
   background-color: rgb(241,241,243);
   text-align: center;
   background-image: url(../img/accessory.jpg);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;
}